.table-container {
  height: 100%;
  background-color: #fff;
  border: 1px solid #ccc;

  .table-header {
    height: auto !important;
    border-bottom: 1px solid #ccc;

    .table-filter {
      padding: 0 5px;

      .el-input {
        width: 130px;
      }

      .el-radio+.el-radio {
        margin-left: 5px;
      }

      dl {
        display: inline-block;
        margin-right: 20px;
        color: #666;

        dt {
          color: #666;
          font-size: 16px;
          font-weight: bold;
        }

        dt,
        dd {
          display: block;
          line-height: 28px;
          margin: 0;
          padding: 0;
          font-size: 14px;
        }
      }

      .btnGroup {
        display: inline-block;

        .btnGroup-content {
          display: flex;
        }
      }
    }
  }

  .table-main {
    flex: 1;
  }

  .table-footer {
    border-top: 1px solid #eee;
    text-align: center;
    height: auto !important;
    line-height: auto;

    .el-pagination {
      padding: 15px 0;
    }
  }
}